<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <title>股票模擬網站</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='animations.css') }}">
    <link rel="icon" href="https://oinktech.github.io/images/favicon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('dashboard') }}"><i class="fas fa-tachometer-alt"></i> 儀表板</a></li>
            <li><a href="{{ url_for('settings') }}"><i class="fas fa-cog"></i> 設定</a></li>
            <li><a href="{{ url_for('stock_search') }}"><i class="fas fa-search"></i> 搜尋股票</a></li>
            <li><a href="{{ url_for('portfolio') }}"><i class="fas fa-briefcase"></i> 已買入</a></li>
            <li><a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i> 登出</a></li>
        </ul>
    </nav>
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>
